.hero {
    padding-top: 7rem;
    padding-inline: var(--padding-inline);

    .header-container {
        margin-block: 2.5rem 2rem;

        h1 {
            line-height: 40px;
            font-size: 2.2rem;
            color: $font-clr2;
        }

        h2 {
            line-height: 33px;
            font-size: 1.4rem;
            color: $font-clr1;
        }
    }

    .content-container {
        align-items: end;

        p {
            font-size: .75rem;
            line-height: 1.25rem;
            color: $font-clr3;
            margin-block-end: 1.5rem;
        }

        .img-container {

            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-block: 70px;
            margin-inline-end: 50px;
            animation: colorLoop 4s infinite alternate;
            // box-shadow: 0px 5px 84px 70px rgba(241, 41, 213, 0.58);

            img {
                width: 170px;
                height: 170px;
            }

            @keyframes colorLoop {

                0%,
                100% {
                    box-shadow: 0px 5px 84px 70px rgba(241, 41, 213, 0.58);
                }

                33% {
                    box-shadow: 0px 5px 84px 70px rgba(241, 41, 213, 0.58),
                        0px 5px 84px 70px rgba(41, 241, 213, 0.58);
                }

                66% {
                    box-shadow: 0px 5px 84px 70px rgba(41, 241, 213, 0.58),
                        0px 5px 84px 70px rgba(213, 41, 241, 0.58);
                }
            }
        }

    }

    .socials-container {
        min-height: 3.5rem;

        margin-block: 3.5rem;
    }
}