.tools {
    display: flex;
    flex-direction: column;
    padding: 2rem var(--padding-inline) 1rem var(--padding-inline);

    .carousel-container {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @include for-table-layout {
        padding: 1rem var(--padding-inline) 4rem var(--padding-inline);
    }

    @include for-narrow-layout {
        padding: 2rem var(--padding-inline) 5rem var(--padding-inline);
    }

    @include for-wide-layout {
        padding: 2rem var(--padding-inline) 6rem var(--padding-inline);
    }

    @include for-desktop-layout {
        padding: 3rem var(--padding-inline) 8rem var(--padding-inline);
    }

    h1 {
        padding-inline: 10px;
        color: $font-clr3;
        text-align: center;
        line-height: 1.5;
        font-size: 2rem;

        @include for-mobile-layout {
            font-size: 2.4rem;
        }

        @include for-table-layout {
            font-size: 3.2rem;
        }

        @include for-narrow-layout {
            font-size: 4rem;
        }

        @include for-wide-layout {
            font-size: 4.8rem;
        }

        @include for-desktop-layout {
            font-size: 5.6rem;
        }

        @include for-full-layout {
            font-size: 6.4rem;
        }
    }
}